<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delta.layouts" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="Tan Beauty"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LayoutActivity"
            android:label="TBeauty"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LayoutActivity2"
            android:label="Eyes delta layout"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Layout3"
            android:label="Lips delta layout"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Layout4"
        android:label="Skin delta layout"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Layout5"
            android:label="Brands layout"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
